<div class="container">
  <h1>Pesquisar Receitas</h1>

  <input type="text" [(ngModel)]="termoBusca" placeholder="Digite o que você procura...">
  <button (click)="pesquisar()">Buscar</button>

  <div class="lista-receitas">
    <div class="receita" *ngFor="let receita of receitas">
      <img [src]="receita.image" alt="{{receita.title}}">
      <h2>{{receita.title}}</h2>
      <p>{{receita.summary}}</p>
      <button (click)="verDetalhes(receita.id)">Ver Detalhes</button>
    </div>
  </div>
</div>
